a {
  text-decoration:none;
  color:#1ab188;
  transition:.5s ease;
  &:hover {
    color:#39826E;
  }
}

.form {
  background:rgba($form-bg,.9);
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius:$br;
  box-shadow:0 4px 10px 4px rgba($form-bg,.3);
}

.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
:after {
    content: "";
    display: table;
    clear: both;
  }

  li a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba(#a0b3b0,.25);
    color:#a0b3b0;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;

:hover {
      background:39826E;
      color:#ffffff;
    }
  }

.active a {
    background:#1ab188;
    color:#ffffff;
  }
}